/bin/
/dist/
/coverage.out
/.env
/.idea/
/.vscode/
/web/console/node_modules/
/web/console/dist/
/web/console/*.tsbuildinfo
/web/desktop/node_modules/
/web/desktop/dist/
/web/desktop/*.tsbuildinfo
**/__pycache__/
